{% extends 'configuration/index.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Liste des structures
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li class="tip"><a href="#myModal" data-toggle="modal" data-target="#myModal" class="uibutton icon filter actionLink" modal-url="{{ path('filtrer_les_structures') }}" original-title="Filter les structures">Filtre</a></li>
			<li class="tip"><a class="uibutton icon add" href="{{ path('creer_structure') }}" original-title="Ajouter une structure">Nouvelle structure</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="content">
	<div class="tableName">
		<table class="display" id="structureTable">
			<thead>
				<tr>
					<th><div class="th_wrapp">Nom de la structure</div></th>
					<th><div class="th_wrapp">Type de structure</div></th>
					<th><div class="th_wrapp">Parent</div></th>
					<th width="100px"><div class="th_wrapp">Actions</div></th>
				</tr>
			</thead>
			<tbody>
			 	<tr class="odd gradeX">
					<td colspan="4">Chargement des données en cours ...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ block_render('form_div_layout.html.twig', 'datatable_options', {has_buttons: false, with_tag: 1 }) }}
	{% include 'extra/datatable.html.twig' with {idTable: 'structureTable', url: path('liste_des_structures'), nosorting: {0:2, 1:3} } %}
{% endblock %}
