<ul>
{% if chargement.activite %}
    <li><b>1 ère colonne :</b> La menace (ex:Risque de fraude) <span style="color: red"><i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>2 ème colonne :</b> La cause<span style="color: red"><i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>3 ème colonne :</b> La descrption du plan d'action</li>
    <li><b>4 ème colonne :</b> Le nom du porteur</li>
    <li><b>5 ème colonne :</b>L'email du porteur</li>
    <li><b>6 ème colonne :</b> La date de début du plan d'action</li>
    <li><b>7 ème colonne :</b> La date de fin du plan d'action</li>
    <li><b>8 ème colonne :</b> Avancement du plan d'action</li>
    <li><b>9 ème colonne :</b> Le statut du plan d'action <span style="color: red"><i></i></span></li>
    <li><b>10 ème colonne :</b> La description du controle<span style="color: red"><i></i></span></li>
    <li><b>11 ème colonne :</b> Le type du controle<span style="color: red"><i></i></span></li>
    <li><b>12 ème colonne :</b> La méthode du controle<span style="color: red"><i></i></span></li>
    <li><b>13 ème colonne :</b> La probabilté de la cause<span style="color: red"><i></i></span></li>
    <li><b>14 ème colonne :</b> La gravité du risque<span style="color: red"><i></i></span></li>
    <li><b>15 ème colonne :</b> La gravité du domaine financier<span style="color: red"><i></i></span></li>
    <li><b>16 ème colonne :</b> La gravité du domaine RH<span style="color: red"><i></i></span></li>
    <li><b>17 ème colonne :</b> La gravité du domaine Image<span style="color: red"><i></i></span></li>
    <li><b>18 ème colonne :</b> La gravité du domaine Juridique<span style="color: red"><i></i></span></li>
    <li><b>19 ème colonne :</b> La gravité du domaine client<span style="color: red"><i></i></span></li>
    <li><b>20 ème colonne :</b> La criticité du risque<span style="color: red"><i></i></span></li>
    <li><b>21 ème colonne :</b> La maturité CI<span style="color: red"><i></i></span></li>
{% else %}
    <li><b>1 ère colonne :</b> Le macro processus <span style="color: red"><i>(Attention: il est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>2 ème colonne :</b> Le processus <span style="color: red"><i>(Attention: il est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>3 ème colonne :</b> Le sous processus <span style="color: red"><i>(Attention: il est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>4 ème colonne :</b> La sous entité <span style="color: red"><i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>5 ème colonne :</b> L'activite <span style="color: red"><i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>6 ème colonne :</b> La menace (ex:Risque de fraude) <span style="color: red"><i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>7 ème colonne :</b> La cause<span style="color: red"><i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
    <li><b>8 ème colonne :</b> La descrption du plan d'action</li>
    <li><b>9 ème colonne :</b> Le nom du porteur</li>
    <li><b>10 ème colonne :</b>L'email du porteur</li>
    <li><b>11 ème colonne :</b> La date de début du plan d'action</li>
    <li><b>12 ème colonne :</b> La date de fin du plan d'action</li>
    <li><b>13 ème colonne :</b> Avancement du plan d'action</li>
    <li><b>14 ème colonne :</b> Le statut du plan d'action <span style="color: red"><i></i></span></li>
    <li><b>15 ème colonne :</b> La description du controle<span style="color: red"><i></i></span></li>
    <li><b>16 ème colonne :</b> Le type du controle<span style="color: red"><i></i></span></li>
    <li><b>17 ème colonne :</b> La méthode du controle<span style="color: red"><i></i></span></li>
    <li><b>18 ème colonne :</b> La probabilté de la cause<span style="color: red"><i></i></span></li>
    <li><b>19 ème colonne :</b> La gravité du risque<span style="color: red"><i></i></span></li>
    <li><b>20 ème colonne :</b> La gravité du domaine financier<span style="color: red"><i></i></span></li>
    <li><b>21 ème colonne :</b> La gravité du domaine RH<span style="color: red"><i></i></span></li>
    <li><b>22 ème colonne :</b> La gravité du domaine Image<span style="color: red"><i></i></span></li>
    <li><b>23 ème colonne :</b> La gravité du domaine Juridique<span style="color: red"><i></i></span></li>
    <li><b>24 ème colonne :</b> La gravité du domaine client<span style="color: red"><i></i></span></li>
    <li><b>25 ème colonne :</b> La criticité du risque<span style="color: red"><i></i></span></li>
    <li><b>26 ème colonne :</b> La maturité CI<span style="color: red"><i></i></span></li>
{% endif %}
</ul>