<ul>
	<li><b>1 ème colonne :</b> Le site <span style="color: red"><i>(Attention: il est obligatoire et doit exister au préalable)</i></span></li>
	<li><b>2 ème colonne :</b> Domaine activité <span style="color: red"><i>(Attention: il est obligatoire et doit exister au préalable)</i></span></li>
	<li><b>3 ème colonne :</b> Activité / Equipement <span style="color: red"><i>(Attention: il est obligatoire et doit exister au préalable)</i></span></li>
	<li><b>4 ème colonne :</b> Type (Activité ou equipement ) <span style="color: red"><i>(Attention: Si c'est une activité mettre 1 , Si c'est un equipement mettre 2)</i></span></li>
	<li><b>5 ème colonne :</b> Propriétaire</li>
	<li><b>6 ème colonne :</b> Danger <span style="color: red"><i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
	<li><b>7 ème colonne :</b> Mode de fonctionnement<span style="color: red"><i>(Attention: elle est obligatoire et doit exister au préalable) - Mettre A pour le mode anormal et N pour le mode normal </i></span></li>
	<li><b>8 ème colonne :</b> Menace <i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
	<li><b>9 ème colonne :</b> Lieu <i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
	<li><b>10 ème colonne :</b>Manifestation <i>(Attention: elle est obligatoire et doit exister au préalable)</i></span></li>
	<li><b>11 ème colonne :</b> La description du controle<span style="color: red"><i></i></span></li>
	<li><b>12 ème colonne :</b> Le type du controle<span style="color: red"><i></i></span></li>
	<li><b>13 ème colonne :</b> La méthode du controle<span style="color: red"><i></i></span></li>
	<li><b>14 ème colonne :</b> Description plan d'action </li>
	<li><b>15 ème colonne :</b> Porteur plan d'action </li>
	<li><b>16 ème colonne :</b> La date de début du plan d'action</li>
	<li><b>17 ème colonne :</b> La date de fin du plan d'action</li>
	<li><b>18 ème colonne :</b> Avancement du plan d'action</li>
	<li><b>19 ème colonne :</b> Le statut du plan d'action <span style="color: red"><i></i></span></li>
	<li><b>20 ème colonne :</b> La probabilté de la cause<span style="color: red"><i></i></span></li>
	<li><b>21 ème colonne :</b> La gravité du risque<span style="color: red"><i></i></span></li>
	<li><b>27 ème colonne :</b> La criticité du risque<span style="color: red"><i></i></span></li>
	<li><b>26 ème colonne :</b> La maturité CI<span style="color: red"><i></i></span></li>
</ul>