<div class="header">
	<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/add.png') }}" alt="add">
	<span>Activation/Désactivation Site</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('assets/bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="contentForm">
	{% if entity.etat %}
		<p style="text-align: center; font-size: 16px;padding:10px;">
			<strong>Voulez vous désactiver ce site? </strong><br>
		</p>
		<form>
			<div class="section last">
				<div>
					<a href="{{ path('desactiver_site',{id : entity.id}) }}"><button type="button">Oui</button></a>
					<input type="reset" data-dismiss="modal" class="uibutton special" value="Non" >
				</div>
			</div>
		</form>
	{% else %}
		<p style="text-align: center; font-size: 16px;padding:10px;">
			<strong>Voulez vous activer ce site? </strong><br>
		</p>
		<form>
			<div class="section last">
				<div>
					<a href="{{ path('activer_site',{id : entity.id}) }}"><button type="button">Oui</button></a>
					<input type="reset" data-dismiss="modal" class="uibutton special" value="Non" >
				</div>
			</div>
		</form>
	{% endif %}
</div>