{% extends 'configuration/index.html.twig' %}
{% form_theme form 'extra/simple_form_theme.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}
<div class="header">
	<span>
	<span class="ico color pencil"></span>
		Edition société
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon add" href="{{ path('nouvelle_societe') }}">société</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('modifier_societe', {'id': entity.id}) }}" method="POST" >
		{{ form_row(form.libelle) }}
		{{ form_row(form._token) }}
		<div class="section last">
			<div>
				<button class="uibutton loading">Enregistrer</button>
				<input type="reset"  class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
</div>
{% endblock %}
