{% extends 'configuration/index.html.twig' %}

{% block menu_config %}
	{% include 'configuration/maitrise.html.twig' with {position: 3} %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico gray spreadsheet"></span>
		Liste des contrôles
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon filter on_load_filter" name="#filter_content" href="#">Filtrer</a></li>
			<li><a class="uibutton icon download" href="{{ path('exporter_les_controles') }}">Extraire</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div id="filter_content" hidden>
		{% include 'OrangeMainBundle:Controle:filter.html.twig' with {form: form} %}
	</div>
<div id="main_content" class="content">
	<div class="tableName">
		<table class="display" id="controleTable">
			<thead>
				<tr>
					<th><div class="th_wrapp">Code</div></th>
					<th><div class="th_wrapp">Risque</div></th>
					<th><div class="th_wrapp">Cause</div></th>
					<th><div class="th_wrapp">Description</div></th>
					<th><div class="th_wrapp">Actions</div></th>
				</tr>
			</thead>
			<tbody>
			 	<tr class="odd gradeX">
					<td colspan="5">Chargement des données en cours ...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
 	{{ parent() }}
	{{ block_render('form_div_layout.html.twig', 'datatable_options', {has_buttons: false, with_tag: 1 }) }}
 	{% include 'extra/datatable.html.twig' with {idTable: 'controleTable', url: path('liste_des_controles'), nosorting: {0:4}  } %}
{% endblock %}
