{% extends 'configuration/index.html.twig' %}

{% block menu_config %}
	{% include 'configuration/configuration.html.twig' with {position: 4} %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color help2"></span>Liste des questions
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon add actionLink" href="#myModal" modal-url="{{ path('nouvelle_question') }}" data-toggle="modal" data-target="#myModal">Question</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="content_table">
	<div class="tableName">
		<table id="questionTable" class="display simple_table">
			<thead>
				<tr>
					<th><div class="th_wrapp">Libellé</div></th>
					<th width="50px"><div class="th_wrapp">Cotation</div></th>
					<th width="50px"><div class="th_wrapp">Position</div></th>
					<th width="100px"><div class="th_wrapp">Etat</div></th>
					<th width="100px"><div class="th_wrapp">Actions</div></th>
				</tr>
			</thead>
			<tbody>
			 	<tr class="odd gradeX">
					<td colspan="5">Chargement des données en cours ...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# {{ block_render('::form_div_layout.html.twig', 'datatable_options', {has_buttons: true, with_tag: 1 }) }} #}
	{% include 'extra/datatable.html.twig' with {idTable: 'questionTable', url: path('liste_des_questions'), nosorting: {0:1, 1:2, 2:3} } %}
{% endblock %}
