{% extends 'configuration/index.html.twig' %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico gray spreadsheet"></span>
		Notifications
	</span> 
	<div id="buttom_top">
		<ul class="uibutton-group">
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div id="main_content" class="content">
	<div class="tableName">
		<table class="display" id="notifTable">
			<thead>
				<tr>
					<th><div class="th_wrapp">Libelle</div></th>
					<th><div class="th_wrapp">Auteur</div></th>
					<th><div class="th_wrapp">Date</div></th>
					<th><div class="th_wrapp">Actions</div></th>
				</tr>
			</thead>
			<tbody>
			 	<tr class="odd gradeX">
					<td colspan="5">Chargement des données en cours ...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
 	{{ parent() }}
	{# {{ block_render('::form_div_layout.html.twig', 'datatable_options', {has_buttons: false, with_tag: 1 }) }} #}
 	{% include 'extra/datatable.html.twig' with {idTable: 'notifTable', url: path('liste_des_notifs'), nosorting: {0:2}  } %}
{% endblock %}
