
<div class="header">
	<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/cancel.png') }}" alt="add">
	<span>Supprimer un plan d'action</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('assets/bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="contentForm">
	<form  novalidate="novalidate"  action="{{ path('supprimer_pa', {id:entity.id}) }}" method="POST">
		<center><h5>Voulez-vous supprimer ce plan d'action? </h5></center>
		<div class="section last">
			<div>
				<button data-target="#myModal" class="uibutton loading submitLink" call="closeAndNotifyAfterSuccess" argument-call="#siteTable">OUI</button>
				<input type="reset" data-dismiss="modal" class="uibutton special" value="Effacer" >
			</div>
		</div>
	</form>
</div>