{% trans_default_domain 'FOSUserBundle' %}
{% extends 'OrangeMainBundle:Configuration:index.html.twig' %}
{% form_theme form 'OrangeMainBundle:Extra:simple_form_theme.html.twig' %}

{% block menu_config %}
	{% include 'OrangeMainBundle:Configuration:hierarchie.html.twig' with {position: 3} %}
{% endblock %}

{% block header_config %}
	<div class="header">
		<span>
			<span class="ico gray edit"></span>
			Edition du membre
		</span>
		<div id="buttom_top">
			<ul class="uibutton-group">
				<li><a class="uibutton icon answer" href="{{ path('les_utilisateurs') }}">Liste des Utilisateurs</a></li>
            </ul>
        </div>
	</div>
{% endblock %}

{% block content_config %}
	{% include "FOSUserBundle:Registration:edit_content.html.twig" %}
{% endblock %}
