<div class="header">
	<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/close.png') }}" alt="add">
	<span>Suppression d'un risque</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('assets/bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="contentForm">
	<p style="text-align: center; font-size: 16px;padding:10px;"> <strong>Voulez vous supprimer ce risque? </strong><br></p>
	<form novalidate="novalidate" action="{{ path('suppression_risque',{id : entity.id}) }}" method="POST">
		<div class="section last">
			<div>
				<input type="submit" data-target="#myModal" class="uibutton success submitLink" value="Oui" call="closeAndNotifyAfterSuccess" argument-call="#risqueTable">
				<input type="reset" data-dismiss="modal" class="uibutton special" value="Non" >
			</div>
		</div>
	</form>
</div>