{% extends 'configuration/index.html.twig' %}

{% block menu_config %}
	{% include 'configuration/identification.html.twig' with {position: position} %}
{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Consultation des fiches rejetés
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon filter on_load_filter" name="#filter_content" href="#">Filtrer</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
	<div id="filter_content" hidden>
		{% include 'OrangeMainBundle:Risque:filter.html.twig' with {form: form, evaluated: 0} %}
	</div>
	<div id="main_content" class="content" style="background-color: #fff;">
		<div class="tableName">
			<table id="risqueTable" class="display no-margin">
				<thead>
					<tr>
						<th><div class="th_wrapp">Libellé</div></th>
						<th><div class="th_wrapp">Cartographie</div></th>
						<th><div class="th_wrapp">Validateur</div></th>
						<th><div class="th_wrapp">Date de saisie</div></th>
						<th><div class="th_wrapp">Motif de rejet</div></th>
						<th width="60px"><div class="th_wrapp">Actions</div></th>
					</tr>
				</thead>
				<tbody>
				 	<tr class="odd gradeX">
				 		<td colspan="5">Chargement des données en cours ...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# {{ block_render('::form_div_layout.html.twig', 'datatable_options', {has_buttons: true, with_tag: 1 }) }} #}
	{% include 'extra/datatable.html.twig' with {idTable: 'risqueTable', url: path('liste_risques_rejetes'), nosorting: {0:0,1:1,2:2} } %}
{% endblock %}

