{% extends 'configuration/index.html.twig' %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Projet
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon filter actionLink" href="#myModal" modal-url="{{ path('filtrer_les_projets') }}" data-toggle="modal" data-target="#myModal">Filtrer</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
	<div class="clear"></div>
	<div class="content">
		<div class="tableName">
			<table class="display" id="projetTable">
				<thead>
					<tr>
						<th width="80px"><div class="th_wrapp">Code</div></th>
						<th><div class="th_wrapp">Libelle</div></th>
						<th width="140px"><div class="th_wrapp">Porteur</div></th>
						<th width="140px"><div class="th_wrapp">Statut</div></th>
						<th width="110px"><div class="th_wrapp">Actions</div></th>
					</tr>
				</thead>
				<tbody>
				 	<tr class="odd gradeX">
						<td colspan="5">Chargement des données en cours ...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ block_render('form_div_layout.html.twig', 'datatable_options', {has_buttons: false, with_tag: 1 }) }}
	{% include 'extra/datatable.html.twig' with {idTable: 'projetTable', url: path('suivi_liste_des_projets'), nosorting: {0:3,1:4} } %}
{% endblock %}
