{% extends 'configuration/index.html.twig' %}

	{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color gear"></span>Base des risques
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a class="uibutton icon add actionLink" href="#myModal" data-toggle="modal" data-target="#myModal" class="actionLink" modal-url="{{ path('nouvelle_menace') }}">Ajout à la base</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="content">
	<div class="tableName">
		<table id="menaceTable" class="display">
			<thead>
				<tr>
					<th><div class="th_wrapp">Risque</div></th>
					<th width="200px" ><div class="th_wrapp">Cartographie(s)</div></th>
					<th width="100px"><div class="th_wrapp">Actions</div></th>
				</tr>
			</thead>
			<tbody>
			 	<tr class="odd gradeX">
					<td colspan="3">Chargement des données en cours ...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# {{ block_render('::form_div_layout.html.twig', 'datatable_options', {has_buttons: false, with_tag: 1 }) }} #}
{#	{% include 'extra/datatable.html.twig' with {idTable: 'menaceTable', url: path('liste_des_menaces'), nosorting: {0: 1, 1: 2} } %}#}
{% endblock %}
