{% extends 'configuration/index.html.twig' %}


{% block header_config %}
<div class="header">
	<span>
		<span class="ico color gear"></span>Définir les menaces avérés
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li><a id="valider"  class="uibutton icon add" name="#filter_content" href="#">Valider</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
<div class="content">
	<div class="tableName">
		<table id="menaceTable" class="display">
			<thead>
				<tr>
					<th width="35" ><input type="checkbox" id="checkAll"  class="checkAll"/></th>
					<th><div class="th_wrapp">Risque</div></th>
					<th width="200px" ><div class="th_wrapp">Cartographie(s)</div></th>
					<th width="100px"><div class="th_wrapp">Actions</div></th>
				</tr>
			</thead>
			<tbody>
			 	<tr class="odd gradeX">
					<td colspan="3">Chargement des données en cours ...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# {{ block_render('::form_div_layout.html.twig', 'datatable_options', {has_buttons: false, with_tag: 1 }) }} #}
	{% include 'extra/datatable.html.twig' with {idTable: 'menaceTable', url: path('liste_des_menaces_averales',{periode_id: periode_id}), nosorting: {0: 1, 1: 2} } %}
	<script type="text/javascript">
	$(document).ready( function () {
		$("a#valider").addClass('disable');
		$('#menaceTable input[type=checkbox]').live('click', function(){
			var nb = 0;  
			var arrRisques=[];
			 $('#menaceTable input[type=checkbox].chkbox:checked').each(function(){
			       arrRisques.push($(this).val());
			       nb++;
			  }); 

			  if(nb>0){
				  $("a#valider").removeClass('disable');
				  var url = "{{ path("valider_ajout_menace_avered", {"ids" : "id", "periode_id": periode_id}) }}";
				  js_id = arrRisques.toString();
				  url = url.replace("id", js_id);
				   $("a#valider").attr('href', url);
			  }else{
				  $("a#valider").addClass('disable');
			  }
		 });
	 });
	</script>
{% endblock %}
