<div class="header">
	<img src="{{ asset('assets/bundles/orangemain/images/icon/color_18/info.png') }}" alt="add">
	<span>Consultation d'une famille</span>
	<div class="close_me"><a data-dismiss="modal"><img src="{{ asset('assets/bundles/orangemain/images/icon/closeme.png') }}"> </a></div>
</div>
<div class="content">
</div>