{% extends 'configuration/index.html.twig' %}

{% block menu_config %}
	{% include 'configuration/identificationMatrice.html.twig' with {position: 4} %}
{% endblock %}

{% block header_config %}{% endblock %}

{% block content %}
 	<h1 align="center">Choisir la cartographie à restituer </h1>
 	
 	<div class="big_menu bd_grid  no_submenu   " style="margin-left:200px; ">
		<span class="header" style="cursor: pointer;" onclick="location.href='{{ path('la_restitution', {id: global_ids.carto.metier}) }}'">Risque Metier</span>
	</div>
	
 	<div class="big_menu bd_grid  no_submenu   ">
		<span class="header" style="cursor: pointer;" onclick="location.href='{{ path('la_restitution', {id: global_ids.carto.projet}) }}'">Risque Projet</span>
	</div>
	
	<div class="big_menu bd_grid  no_submenu   " style="margin-left:200px; ">
		<span class="header" style="cursor: pointer;" onclick="location.href='{{ path('la_restitution', {id: global_ids.carto.sst}) }}'">Risque SST</span>
	</div>
	
	<div class="big_menu bd_grid  no_submenu   ">
		<span class="header" style="cursor: pointer;" onclick="location.href='{{ path('la_restitution', {id: global_ids.carto.environnement}) }}'">Risque Environnemental</span>
	</div>
{% endblock %}
