{% extends 'configuration/index.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}
<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Liste des documents
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
			<li class="tip"><a href="#myModal" class="uibutton icon filter actionLink" data-toggle="modal" data-target="#myModal" modal-url="{{ path('filtrer_les_documents') }}" original-title="Filter les documents">Filtre</a></li>
			<li class="tip"><a class="uibutton icon add" href="{{ path('nouveau_document') }}" original-title="Ajouter un document">Nouveau document</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content_config %}
	<div class="clear"></div>
	<div class="content">
		<div class="tableName">
			<table class="display" id="documentTable">
				<thead>
					<tr>
						<th width="100"><div class="th_wrapp">Libellé</div></th>
						<th><div class="th_wrapp">Description</div></th>
						<th width="200"><div class="th_wrapp">Date Creation</div></th>
						<th width="200"><div class="th_wrapp">Utilisateur</div></th>
						<th width="100"><div class="th_wrapp">Actions</div></th>
					</tr>
				</thead>
				<tbody>
				 	<tr class="odd gradeX">
				 		<td colspan="4">Chargement des données en cours ...</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ block_render('form_div_layout.html.twig', 'datatable_options', {has_buttons: false, with_tag: 1 }) }}
	{% include 'extra/datatable.html.twig' with {idTable: 'documentTable', url: path('liste_des_documents'), nosorting: {0:3, 1:4} } %}
{% endblock %}

