
{% block content %}
    <!--<h1 align="center">Que Voulez vous Faire?</h1>-->
    <div class="dashboard">
        {% include 'document/index.html.twig' with {'items': gridItems} %}
    </div>
{% endblock %}