{% extends 'configuration/index.html.twig' %}

{% block menu_config %}{% include 'configuration/configuration.html.twig' %}{% endblock %}

{% block header_config %}{% endblock %}

{% block separator_config %}{% endblock %}

{% block content_config %}
<div class="content" style="border-top-width: 0px;">
	<!--//start tab-->
	<div id="domaineTab">
		<ul class="tabs header">
			<li ><a href="#tab2">Domaine d'activité</a></li>
			<li ><a href="#tab3">Domaine physique</a></li>
		</ul>
		<div class="tab_container no-margin" >
			<div id="tab2" class="tab_content">
				<ul class="uibutton-group">
					<li><a class="uibutton icon add actionLink" href="#myModal" data-toggle="modal" data-target="#myModal" modal-url="{{ path('nouveau_domaine_activite') }}">Nouveau domaine</a></li>
				</ul>
				<div class="tableName">
					<table id="domaineActiviteTable" class="display">
						<thead>
							<tr>
								<th><div class="th_wrapp">Nom du domaine</div></th>
								<th width="100px"><div class="th_wrapp">&Eacute;tat</div></th>
								<th width="80px"><div class="th_wrapp">Actions</div></th>
							</tr>
						</thead>
						<tbody>
						 	<tr class="odd gradeX">
								<td colspan="3">Chargement des données en cours ...</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div><!--tab2-->
			<div id="tab3" class="tab_content">
				<ul class="uibutton-group">
					<li><a class="uibutton icon add actionLink" href="#myModal" data-toggle="modal" data-target="#myModal" modal-url="{{ path('nouveau_domaine_site') }}">Nouveau domaine</a></li>
				</ul>
				<div class="tableName">
					<table id="domaineSiteTable" class="display">
						<thead>
							<tr>
								<th><div class="th_wrapp">Nom du domaine</div></th>
								<th width="100px"><div class="th_wrapp">Etat</div></th>
								<th width="80px"><div class="th_wrapp">Actions</div></th>
							</tr>
						</thead>
						<tbody>
						 	<tr class="odd gradeX">
								<td colspan="3">Chargement des données en cours ...</td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div><!--tab3-->
		</div>
	</div><!--/END TAB/-->
</div>
<div class="clear"></div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# {{ block_render('::form_div_layout.html.twig', 'datatable_options', {has_buttons: true, with_tag: 1 }) }} #}
{#	{% include 'extra/datatable.html.twig' with {idTable: 'domaineActiviteTable', url: path('liste_des_domaines_dactivite'), nosorting: {0:1, 1:2} } %}#}
{#	{% include 'extra/datatable.html.twig' with {idTable: 'domaineSiteTable', url: path('liste_des_domaines_site'), nosorting: {0:1, 1:2} } %}#}
{% endblock %}
