{% block menu %}
<div id="left_menu" style="left: 0px;">
    {{ knp_menu_render('OrangeMainBundle:Builder:showMenu', {template: 'extra/knp_menu.html.twig', currentClass: 'select'}) }}
</div>
{% endblock %}