	<div style="margin: 0 auto;width: 630px;">
		<!-- // breaks -->
		<div class="maitrise sigrc_grid shoutcutBox {{ position==2 ? 'active' : null }}" onclick="location.href='{{ path('nouveau_document') }}'"> 
			<span class="ico color add"></span> <strong>Document</strong> <em>Ajouter d'un document</em> 
		</div>
	</div>