<div class="header">
	<span>
		<span class="ico color spreadsheet"></span>Consultation des KPIs
	</span>
	<div id="buttom_top">
		<ul class="uibutton-group">
		{% include 'OrangeMainBundle:Configuration:buttonAggregation.html.twig' with {type: type, carto: carto} %}
        </ul>
    </div>
</div>